# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Editors / OS
.DS_Store
.idea/
*.swp

# Logs / local
*.log

# Build output
dist/
build/
*.app/
.ruff_cache/
config.bat
node_modules
